@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<MasterAgreementDetails> agreement = new List<MasterAgreementDetails>();
    if (agreement.Count() == 0)
    {
        int code = 10000;
        for (int i = 1; i < 5; i++)
        {
            agreement.Add(new MasterAgreementDetails(code + 1, "Web Development Team", "Team", 1, "Published", new DateTime(2022, 12, 12), new DateTime(2023, 12, 31), "Frankfurt University of Applied Sciences", "Franfurt Am Main", "Kirchgasse 6", new DateTime(2022, 12, 21)));
            agreement.Add(new MasterAgreementDetails(code + 1, "Software Development Team", "Team", 1, "Published", new DateTime(2022, 12, 20), new DateTime(2023, 07, 10), "Mobile hubs limited", "Hamburg", "Kuntola", new DateTime(2022, 12, 21)));
            agreement.Add(new MasterAgreementDetails(code + 1, "Web Development Team2", "Single", 1, "Published", new DateTime(2022, 12, 05), new DateTime(2023, 02, 21), "Simplexhub limited", "Berlin", "Mehedi Hasan", new DateTime(2022, 12, 21)));
            agreement.Add(new MasterAgreementDetails(code + 1, "Web Development Team3", "Team", 1, "Published", new DateTime(2022, 12, 05), new DateTime(2023, 04, 25), "Acer Malaysia", "Malaysia", "Rizwan", new DateTime(2022, 12, 21)));
            agreement.Add(new MasterAgreementDetails(code + 1, "Web Development Team4", "Team", 2, "Published", new DateTime(2022, 12, 01), new DateTime(2023, 12, 20), "Deloitte", "Franfurt Am Main", "Kirchgasse 6", new DateTime(2022, 12, 21)));
            code += 5;
        }
    }

    List<DoughnutData> chartData = new List<DoughnutData>();

    if (chartData.Count() == 0)
    {
        chartData.Add(new DoughnutData("Labour", 18, "18%"));
        chartData.Add(new DoughnutData  ( "Legal",  8,  "8%" ));
        chartData.Add(new DoughnutData ( "Production", 15, "15%" ));
        chartData.Add(new DoughnutData ( "License", 11, "11%" ));
        chartData.Add(new DoughnutData ( "Facilities", 18, "18%" ));
        chartData.Add(new DoughnutData ( "Taxes", 14, "14%" ));
        chartData.Add(new DoughnutData ( "Insurance", 16, "16%" ));
     };
}



<div class="text-center">
    <ejs-accumulationchart id="container" title="Project Cost Breakdown">
        <e-accumulationchart-legendsettings visible="true" position="Top">
        </e-accumulationchart-legendsettings>
        <e-accumulationchart-tooltipsettings enable="false"></e-accumulationchart-tooltipsettings>
        <e-accumulation-series-collection>
            <e-accumulation-series dataSource="@chartData" xName="xValue" yName="yValue" radius="70%" innerRadius="40%" name="Project" explode=true explodeOffset="10%" explodeIndex=3>
                <e-accumulationseries-datalabel visible="true" name="text">
                    <e-font fontWeight="600" color="white"></e-font>
                </e-accumulationseries-datalabel>
            </e-accumulation-series>
        </e-accumulation-series-collection>
    </ejs-accumulationchart>
</div>

<div class="text-center">
    <h2 class="display-4">Master Agreements</h2>
</div>

<div class="text-center">
    <ejs-grid id="Grid" dataSource="@agreement" allowPaging="true" allowSorting="true" allowFiltering="true" allowGrouping="true">
        <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column field="MasterAgreementID" headerText="Agreement ID" textAlign="Right" width="120"></e-grid-column>
            <e-grid-column field="MasterAgreementName" headerText="Agreement Name"  width="150"></e-grid-column> 
            <e-grid-column field="AgreementType" headerText="Agreement Type" width="130" textAlign="Right" format="yMd"></e-grid-column>      
            <e-grid-column field="Cycle" headerText="Cycle" width="120"></e-grid-column>
            <e-grid-column field="Status" headerText="Status" width="120"></e-grid-column>
            <e-grid-column field="StartDate" headerText="StartDate" width="120"></e-grid-column>
            <e-grid-column field="EndDate" headerText="EndDate" width="120"></e-grid-column>
            <e-grid-column field="Company" headerText="Comapany" width="120"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>
