@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">PMP</h1>
    <p>Welcome to Provider Management Reporting Platform </p>
</div>
<div>
    <ejs-calendar id="calendar"></ejs-calendar>
</div>
